<form [formGroup]="editBookForm" (ngSubmit)="editBook()" class="mt-2">
  <mat-card class="mb">
    <mat-card-title class="text-center">       
        Update Book "<b>{{editBookForm.get('name').value}}</b>".
    </mat-card-title>

    <mat-form-field class="example-full-width">
      <mat-label>Book name</mat-label>
      <input type="text" matInput [formControl]="editBookForm.get('name')" placeholder="Book Name">
      <mat-error *ngIf="editBookForm.get('name').hasError('minlength') && editBookForm.get('name').touched">
        Name should at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="editBookForm.get('name').touched && editBookForm.get('name').hasError('required')">
        Book name is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Author name</mat-label>
      <input type="text" matInput [formControl]="editBookForm.get('author')" placeholder="Author name.">
      <mat-error *ngIf="editBookForm.get('author').hasError('minlength') && editBookForm.get('author').touched">
        Name should at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="editBookForm.get('author').touched && editBookForm.get('author').hasError('required')">
        Author name is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Language</mat-label>
      <input type="text" matInput [formControl]="editBookForm.get('language')" placeholder="Language">
      <mat-error *ngIf="editBookForm.get('language').hasError('minlength') && editBookForm.get('language').touched">
        Name should at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="editBookForm.get('language').touched && editBookForm.get('language').hasError('required')">
        Author name is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Total page</mat-label>
      <input type="number" matInput [formControl]="editBookForm.get('pages')" placeholder="Total Page">
      <mat-error *ngIf="editBookForm.get('pages').touched && editBookForm.get('pages').hasError('required')">
        Author name is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Publish date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="publishdate">            
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
  </mat-card>   

  
    <button [disabled]="!editBookForm.valid" type="submit" mat-flat-button color="primary">Update Info</button>
  </form>