<form [formGroup]="booksToBeInserted" (ngSubmit)="showRecords()" class="mt">
  <div formArrayName="booksArray">
    <div *ngFor="let book of booksToBeInserted.controls.booksArray['controls']; let i=index" [formGroupName]='i'>
      <mat-card class="mb">
        <mat-card-title class="text-center">       
            Book Info
        </mat-card-title>

        <mat-form-field class="example-full-width">
          <mat-label>Book name</mat-label>
          <input type="text" matInput [formControl]="book.get('name')" placeholder="Book Name">
          <mat-error *ngIf="book.get('name').hasError('minlength') && book.get('name').touched">
            Name should at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="book.get('name').touched && book.get('name').hasError('required')">
            Book name is <strong>required.</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Author name</mat-label>
          <input type="text" matInput [formControl]="book.get('author')" placeholder="Author name.">
          <mat-error *ngIf="book.get('author').hasError('minlength') && book.get('author').touched">
            Name should at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="book.get('author').touched && book.get('author').hasError('required')">
            Author name is <strong>required.</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Language</mat-label>
          <input type="text" matInput [formControl]="book.get('language')" placeholder="Language">
          <mat-error *ngIf="book.get('language').hasError('minlength') && book.get('language').touched">
            Name should at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="book.get('language').touched && book.get('language').hasError('required')">
            Language is <strong>required.</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Total page</mat-label>
          <input type="number" matInput [formControl]="book.get('pages')" placeholder="Total Page">
          <mat-error *ngIf="book.get('pages').touched && book.get('pages').hasError('required')">
            Enter total pages.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Publish date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="publishdate">            
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        </mat-form-field>

        <div>
          <button  *ngIf="booksToBeInserted.controls.booksArray.controls.length > 1" (click)="deleteBookFromArray(i)" mat-flat-button color="warn">Remove this record</button>
        </div>
      </mat-card>   
    </div>
  </div>
  <button  type="button" (click)="addNewBookForm()" mat-flat-button color="primary">Add New Record</button>
  <button [disabled]="!booksToBeInserted.valid" type="submit" mat-flat-button color="success" >Save Books</button>
</form>