<section>
  <mat-toolbar color="primary">
    <span class="mr"><b>Book Records</b></span>
    <a mat-button [routerLink]="['']" class="ml-3">Home</a>
    <a mat-button [routerLink]="['books']"  class="ml-3">Book List</a>
    <a mat-button [routerLink]="['books/addbook']"  class="ml-3">Add New Book</a>
    <span class="link-spacer"></span>
    <div *ngIf="!isLoggedIn()">
      <button mat-button [matMenuTriggerFor]="beforeMenu">Login/Register</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <a mat-menu-item [routerLink]="['auth/login']"  class="ml-3">Login</a>
        <a mat-menu-item [routerLink]="['auth/signup']"  class="ml-3">Register</a>
      </mat-menu>
    </div>
    <div *ngIf="isLoggedIn()">
      <button mat-button [matMenuTriggerFor]="beforeMenu">Hey, {{user.unique_name}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</section>
